:root {
  --blue: rgb(29, 155, 240);
  --blue-hover: rgba(29, 155, 240, 0.1);
  --green: rgb(0, 186, 124);
  --green-hover: rgba(0, 186, 124, 0.1);
  --red: rgb(249, 24, 128);
  --red-hover: rgba(249, 24, 128, 0.1);
  --grey-border: rgb(50, 50, 50);
  --hover: rgba(25, 25, 25, 0.9);
  --grey-color: rgb(113, 118, 123);
  --box-shadow:
    rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}
