.header {
  display: flex;
  flex-direction: column;
  height: 108px;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  padding: 0px 12px;   
  box-sizing: border-box;
}

.title {
  font-size: 1.125rem;
}

.headerBottom {
  display: flex;
}