button {
  all: unset;
  position: relative;
  cursor: pointer;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  font-size: 0.625rem;
  bottom: -20px;
  padding: 3px;
  color: #fff;
  white-space: nowrap; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  -moz-box-shadow: 0px 0px 4px #222;  
  -webkit-box-shadow: 0px 0px 4px #222;  
  box-shadow: 0px 0px 4px #222;
  background-color: rgb(39, 45, 54);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

.for-you-tweets-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
}

.tweet {
  display: flex;
  border-bottom: 1px solid rgb(50, 50, 50);
  min-width: 10rem;
  max-width: 100%;
  max-height: 50rem;
  padding: 1.25rem 0.2rem 0.375rem 1.25rem;
  cursor: pointer;
}

.tweet:hover {
  background-color: rgba(25, 25, 25, 0.4);
  transition: 0.3s;
}

.tweet-content {
  display: flex;
  flex-direction: column;
  max-height: 50rem;
  width: 100%;
}

.tweet-user-info {
  display: flex;
  flex-wrap: wrap;
}

.tweet-content-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-left: 0.625rem
}

.tweet-pfp > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.tweet-content-info {
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  height: 1rem
}

.tweet-image > img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 1rem;
  max-height: 30rem;
}

.tweet-actions {
  display: flex;
  justify-content: space-around;
  color: #999;
  margin-top: 1rem;
}

.bookmark-share {
  display: flex;
  justify-self: flex-end;
}