
.no-defaults {
  all: unset;
}

.home-screen-overlay {
  position: fixed;
  top: 0;
  z-index: 1005;
}

button {
  all: unset;
  cursor: pointer;
}

.overlay-text-area-container {
  display: flex;
  width: 100%;
  min-height: 185px;
  flex: 1;
}

.home-container {
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
}

.wrapuwu {
  display: flex;
  border: 1px solid rgb(50, 50, 50);
  max-width: 600px;
  min-width: 415px;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}
