
nav {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 20%;
}

@media (max-width: 1300px) {
  #nav-element {
    width: 100%;
  }
  #nav {
    align-items: flex-end;
    width: 100%;
  }
  .nav-annotations {
    display: none
  }

  #nav-post-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  #profile-username {
    display: none;
  }

  #more-btn {
    display: none;
  }

  .nav-link {
    padding: 0.5rem !important;
  }
}

@media (max-height: 630px) {
  #title-nav {
    overflow-y: scroll;
  }
}

.title-nav {
  display: flex;
  flex-direction: column;
  z-index: 100;
  top: 0;
  position: fixed;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: fit-content; 
  height: 100%;
  width: 275px;
  padding-right: 15px;
  justify-content: space-between;
}

.nav {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
  margin-top: 0.25rem;
}

.nav-twitter-link {
  padding: 6px 10px;
}

.nav-twitter-link:hover {
  background-color: var(--hover);
  border-radius: 4rem;
  transition: 300ms;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 9px 30px 9px 10px;
}

.nav-link:hover {
  background-color: var(--hover);
  border-radius: 4rem;
  transition: 300ms;
}

.nav-link > div {
  display: flex;
  align-items: center;
  gap: 10px
}


.nav-icons {
  font-size: 32px;
  color: white
}

.post-btn-container {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 1rem;
}

.post-btn-container > button {
  all: unset;
  color: black;
  position: relative;
  cursor: pointer;
  z-index: 1;
  background-color: #fff;
  transition: 0.3s;
  text-align: center;
  width: 233px;
  height: 52px;
  border-radius: 4rem;
}

.post-btn-container > button:hover {
  background-color: rgb(220, 220, 220);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 8px;
}

.profile-popup-options {
  display: none;
  position: absolute;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  background-color: black;
  bottom: 73px;
  height: 6rem;
  width: 300px;
  padding: 7px;
  border-radius: 10px;
  z-index: 100;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}

.profile-popup-options::after {
  content: " ";
  position: absolute;
  right: 150px;
  bottom: -4px;
  border-top: none;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid black;
}

.logout-container {
  width: 100%;
}

.logout-btn {
  all: unset;
  cursor: pointer;
  font-size: 13px;
  width: 99%;
  padding: 13px 5px 13px 13px;
  margin-left: -8px
}

.logout-btn:hover {
  background-color: var(--hover);
}

.profile-btn {
  display: flex;
  background-color: inherit;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  border: 0;
  border-radius: 4rem;
  padding: 10px 12px 10px 14px;
}

.profile-btn:hover {
  background-color: var(--hover);
  transition: 0.3s;
}
  
.profile-username {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
}

.profile-at {
  color: rgb(100, 100, 100)
}

.profilepfp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.more-icon {
  font-size: 20px;
  margin-left: 60px;
}
  
