.signup-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.signup-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 100%;
  border: 3px solid #fff;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  height: 600px;
}

.login-header {
  text-align: center;
}

.warning {
  color: #DC143C;
  text-align: center;
  font-size: 11px;
  margin-top: 1px;
}

.login-btn-container {
  align-self: center;
  margin-top: 30px;
}

.signup-btn {
  width: 150px;
  height: 50px;
  color: rgb(15, 20, 25);
  border: 0 solid black;
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 25px;
}

.signup-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.login-link-container {margin-top: 6px}

.login-link {
  text-decoration: none;
  font-size: 15px;
  color: rgba(25, 25, 199, 0.9);
}

.login-link:hover {
  text-decoration: underline;
  color: rgba(25, 25, 199, 1)
}