button {
  all: unset;
}

.tweet-post-container {
  display: flex;
  min-height: 40px;
  width: 100%;
  padding: 20px 20px 0.75rem 20px;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.tweet-post-pfp > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.tweet-area-post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  margin-left: 10px;
}

.tweet-area-container {
  display: flex;
  flex-direction: column;
  max-height: 700px;
}

.tweet-area {
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  overflow: hidden;
  min-height: 27px;
  outline: none;
  border: 0;
  resize: none;
}

.tweet-post-image-container {
  position: relative;
  max-height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.tweet-post-image-container::-webkit-scrollbar {
  display: none
}

.image-edit,
.image-delete {
  position: absolute;
}

.image-edit {
  left: 0.625rem;
  top: 0.75rem;
}

.image-edit > button {
  padding: 0.25rem 1rem;
  background-color: rgba(15, 20, 25, 0.75);
  border-radius: 4rem;
  backdrop-filter: blur(4px);
}

.image-delete {
  left: 81%;
  top: 0.75rem
}

.image-delete > button {
  padding: 0.25rem 11px;
  background-color: rgba(15, 20, 25, 0.75);
  border-radius: 4rem;
  backdrop-filter: blur(4px);
}

.tweet-post-image {
  padding: 0.5rem 0 0 0.5rem;
  max-width: 30rem;
  max-height: 100%;
  border-radius: 1rem;
}

.everyone-can-reply {
  display: none;
  width: 100%;
  border-bottom: 1px solid rgb(50, 50, 50);
  color: var(--blue);
}

.post-insert-data {
  display: flex;
  position: sticky;
  background-color: black;
  z-index: 100;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.post-insert-data-select {
  display: flex;
  align-items: center;
}

.image-select-btn {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 7px 6px;
}

.image-select-btn:hover {
  background-color: rgba(29, 155, 240, 0.1);
  border-radius: 4rem;
}

.img {
  height: 20px;
}

.tweet-post-btn {
  all: unset;
  background-color: #fff;
  text-align: center;
  height: 40px;
  color: black;
  width: 75px;
  cursor: pointer;
  border-radius: 4rem;
}

.tweet-post-btn:disabled {
  background-color: rgb(110, 110, 110);
  cursor: default
}
  